@using U4_W4_D3.Models
@{
    ViewBag.Title = "Admin";
}

@if (TempData["Salvataggio"] != null)
{
    <div class="alert alert-success w-25 mx-auto text-center m-4">@TempData["Salvataggio"]</div>
}

<div class="text-center p-3">
    @Html.ActionLink("Aggiungi prodotto", "Add", "Scarpa", new { @class = "btn btn-primary w-25 fw-bold" })
</div>

<table class="table table-bordered">
    <thead class="text-bg-secondary">
        <tr>
            <th>Immagine</th>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Gestici</th>
            <th>Elimina</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Scarpa s in Model)
        {
            <tr>
                <td style="width: 10%"><img src="~/Content/Img/@s.Image" alt="img" class="w-100" /></td>
                <td>@s.Nome</td>
                <td>@s.Prezzo.ToString("C")</td>
                <td><a href="~/Scarpa/Edit/@s.IdProdotto"><i class="fa-solid fa-wrench"></i></a></td>
                <td><a href="@Url.Action("Delete", "Scarpa", new { id = s.IdProdotto })"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>
